{
	"swagger": "2.0",
	"info": {
		"title": "Amazon EC2 AMIs API",
		"description": "The API for management AMIs",
		"termsOfService": "https://aws.amazon.com/terms/",
		"version": null
	},
	"host": "ec2.amazonaws.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/?Action=CopyImage&k=1": {
			"get": {
				"summary": "Initiates the copy of an AMI from the specified source region to the current region.",
				"description": "Initiates the copy of an AMI from the specified source region to the current region.",
				"operationId": "copyimage",
				"parameters": [{
					"in": "query",
					"name": "ClientToken",
					"description": "Unique, case-sensitive identifier you provide to ensurettttidempotency of the request. For more information, see How to Ensure Idempotency in the ttt  Amazon Elastic Compute Cloud User Guide.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Description",
					"description": "A description for the new AMI in the destination region.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DryRun",
					"description": "Checks whether you have the required permissions for the action, without actually making the request,        and provides an error response. If you have the required permissions, the error response is DryRunOperation.        Otherwise, it is UnauthorizedOperation.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Encrypted",
					"description": "Specifies whether the destination snapshots of the copied image should be encrypted. The default CMK for EBS is used unless a non-default       AWS Key Management Service (AWS KMS) CMK is specified with KmsKeyId. For more information, see Amazon EBS Encryption in the       Amazon Elastic Compute Cloud User Guide.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "KmsKeyId",
					"description": "The full ARN of the AWS Key Management Service (AWS KMS) CMK to use when encrypting the snapshots of an image during a copy operation. This parameter is       only required if you want to use a non-default CMK; if this parameter is not specified, the       default CMK for EBS is used. The ARN contains the arn:aws:kms namespace, followed by the region of the CMK, the AWS account ID of the CMK owner, the key namespace, and then the CMK ID. For example, arn:aws:kms:us-east-1:012345678910:key/abcd1234-a123-456a-a12b-a123b4cd56ef. The specified CMK must exist in the region       that the snapshot is being copied to. If a KmsKeyId is specified, the       Encrypted flag must also be set.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Name",
					"description": "The name of the new AMI in the destination region.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "SourceImageId",
					"description": "The ID of the AMI to copy.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "SourceRegion",
					"description": "The name of the region that contains the AMI to copy.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=CreateImage&k=1": {
			"get": {
				"summary": "Creates an Amazon EBS-backed AMI from an Amazon EBS-backed instance that is eithernttttrunning or stopped.",
				"description": "Creates an Amazon EBS-backed AMI from an Amazon EBS-backed instance that is eithernttttrunning or stopped.",
				"operationId": "createimage",
				"parameters": [{
					"in": "query",
					"name": "BlockDeviceMapping.N",
					"description": "Information about one or more block device mappings.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Description",
					"description": "A description for the new image.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DryRun",
					"description": "Checks whether you have the required permissions for the action, without actually making the request,        and provides an error response. If you have the required permissions, the error response is DryRunOperation.        Otherwise, it is UnauthorizedOperation.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "InstanceId",
					"description": "The ID of the instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Name",
					"description": "A name for the new image.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "NoReboot",
					"description": "By default, this parameter is set to false, which meansttttAmazon EC2 attempts to shut down the instance cleanly before imagettttcreation and then reboots the instance. When the parameter is set totttttrue, Amazon EC2 doesnt shut down the instance beforettttcreating the image. When this option is used, file system integrity onttttthe created image cant be guaranteed.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=DeregisterImage&k=1": {
			"get": {
				"summary": "Deregisters the specified AMI.",
				"description": "Deregisters the specified AMI.",
				"operationId": "deregisterimage",
				"parameters": [{
					"in": "query",
					"name": "DryRun",
					"description": "Checks whether you have the required permissions for the action, without actually making the request,        and provides an error response. If you have the required permissions, the error response is DryRunOperation.        Otherwise, it is UnauthorizedOperation.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ImageId",
					"description": "The ID of the AMI.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=DescribeImageAttribute&k=1": {
			"get": {
				"summary": "Describes the specified attribute of the specified AMI.",
				"description": "Describes the specified attribute of the specified AMI.",
				"operationId": "describeimageattribute",
				"parameters": [{
					"in": "query",
					"name": "Attribute",
					"description": "The AMI attribute.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DryRun",
					"description": "Checks whether you have the required permissions for the action, without actually making the request,        and provides an error response. If you have the required permissions, the error response is DryRunOperation.        Otherwise, it is UnauthorizedOperation.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ImageId",
					"description": "The ID of the AMI.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=DescribeImages&k=1": {
			"get": {
				"summary": "Describes one or more of the images (AMIs, AKIs, and ARIs) available to you.",
				"description": "Describes one or more of the images (AMIs, AKIs, and ARIs) available to you.",
				"operationId": "describeimages",
				"parameters": [{
					"in": "query",
					"name": "DryRun",
					"description": "Checks whether you have the required permissions for the action, without actually making the request,        and provides an error response. If you have the required permissions, the error response is DryRunOperation.        Otherwise, it is UnauthorizedOperation.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ExecutableBy.N",
					"description": "Scopes the images by users with explicit launch permissions. ttttSpecify an AWS account ID, self (the sender of the request),ttttor all (public AMIs).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Filter.N",
					"description": "One or more filters.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ImageId.N",
					"description": "One or more image IDs.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Owner.N",
					"description": "Filters the images by the owner. Specify an AWS account ID, amazon (owner is      Amazon), aws-marketplace (owner is AWS Marketplace), self (owner is      the sender of the request). Omitting this option returns all images for which you have launch      permissions, regardless of ownership.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=ModifyImageAttribute&k=1": {
			"get": {
				"summary": "Modifies the specified attribute of the specified AMI.",
				"description": "Modifies the specified attribute of the specified AMI.",
				"operationId": "modifyimageattribute",
				"parameters": [{
					"in": "query",
					"name": "Attribute",
					"description": "The name of the attribute to modify.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Description",
					"description": "A description for the AMI.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DryRun",
					"description": "Checks whether you have the required permissions for the action, without actually making the request,        and provides an error response. If you have the required permissions, the error response is DryRunOperation.        Otherwise, it is UnauthorizedOperation.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ImageId",
					"description": "The ID of the AMI.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "LaunchPermission",
					"description": "A launch permission modification.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "OperationType",
					"description": "The operation type.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ProductCode.N",
					"description": "One or more product codes. After you add a product code to an AMI, it cant be removed.        This is only valid when modifying the productCodes attribute.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "UserGroup.N",
					"description": "One or more user groups. This is only valid when modifying the launchPermission attribute.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "UserId.N",
					"description": "One or more AWS account IDs. This is only valid when modifying the launchPermission attribute.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Value",
					"description": "The value of the attribute being modified. This is only valid when modifying the description attribute.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=RegisterImage&k=1": {
			"get": {
				"summary": "Registers an AMI.",
				"description": "Registers an AMI.",
				"operationId": "registerimage",
				"parameters": [{
					"in": "query",
					"name": "Architecture",
					"description": "The architecture of the AMI.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "BlockDeviceMapping.N",
					"description": "One or more block device mapping entries.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Description",
					"description": "A description for your AMI.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DryRun",
					"description": "Checks whether you have the required permissions for the action, without actually making the request,        and provides an error response. If you have the required permissions, the error response is DryRunOperation.        Otherwise, it is UnauthorizedOperation.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ImageLocation",
					"description": "The full path to your AMI manifest in Amazon S3 storage.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "KernelId",
					"description": "The ID of the kernel.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Name",
					"description": "A name for your AMI.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "RamdiskId",
					"description": "The ID of the RAM disk.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "RootDeviceName",
					"description": "The name of the root device (for example, /dev/sda1, ortttt/dev/xvda).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "SriovNetSupport",
					"description": "Set to simple to enable enhanced networking for the AMI and any instances that you launch from the AMI.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "VirtualizationType",
					"description": "The type of virtualization.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=ResetImageAttribute&k=1": {
			"get": {
				"summary": "Resets an attribute of an AMI to its default value.",
				"description": "Resets an attribute of an AMI to its default value.",
				"operationId": "resetimageattribute",
				"parameters": [{
					"in": "query",
					"name": "Attribute",
					"description": "The attribute to reset (currently you can only reset the launchttttpermission attribute).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DryRun",
					"description": "Checks whether you have the required permissions for the action, without actually making the request,        and provides an error response. If you have the required permissions, the error response is DryRunOperation.        Otherwise, it is UnauthorizedOperation.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ImageId",
					"description": "The ID of the AMI.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}