{
	"swagger": "2.0",
	"info": {
		"title": "Amazon RDS Instance API",
		"description": "The API for managing Amazon RDS Instances",
		"termsOfService": "https://aws.amazon.com/terms/",
		"version": null
	},
	"host": "rds.us-east-1.amazonaws.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/?Action=CreateDBInstance&k=1": {
			"get": {
				"summary": "Creates a new DB instance.",
				"description": "Creates a new DB instance.",
				"operationId": "createdbinstance",
				"parameters": [{
					"in": "query",
					"name": "AllocatedStorage",
					"description": "The amount of storage (in gigabytes) to be initially allocated for the        database instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "AutoMinorVersionUpgrade",
					"description": "Indicates that minor engine upgrades will be applied            automatically to the DB instance during the maintenance window.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "AvailabilityZone",
					"description": "The EC2 Availability Zone that the database instance will be created in. For information on        regions and Availability Zones, see         Regions        and Availability Zones.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "BackupRetentionPeriod",
					"description": "The number of days for which automated backups are retained.        Setting this parameter to a positive number enables backups.        Setting this parameter to 0 disables automated backups.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "CharacterSetName",
					"description": "For supported engines, indicates that the DB instance should be associated with the specified CharacterSet.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "CopyTagsToSnapshot",
					"description": "True to copy all tags from the DB instance to snapshots of the DB instance; otherwise false.      The default is false.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBClusterIdentifier",
					"description": "The identifier of the DB cluster that the instance will belong to.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBInstanceClass",
					"description": "The compute and memory capacity of the DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBInstanceIdentifier",
					"description": "The DB instance identifier.        This parameter is stored as a lowercase string.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBName",
					"description": "The meaning of this parameter            differs according to the database            engine you use.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBParameterGroupName",
					"description": "The name of the DB parameter group to associate        with this DB instance. If this argument is omitted, the default        DBParameterGroup for the specified engine will be used.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBSecurityGroups.member.N",
					"description": "A list of DB security groups to associate        with this DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBSubnetGroupName",
					"description": "A DB subnet group to associate with this DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Engine",
					"description": "The name of the database engine to be used for this instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "EngineVersion",
					"description": "The version number of the database engine to use.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Iops",
					"description": "The amount of Provisioned IOPS (input/output operations per second) to be initially allocated for the        DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "KmsKeyId",
					"description": "The KMS key identifier for an encrypted DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "LicenseModel",
					"description": "License model information for this DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MasterUsername",
					"description": "The name of master user for the client DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MasterUserPassword",
					"description": "The password for the master database user. Can be any printable ASCII character except /, , or @.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MonitoringInterval",
					"description": "The interval, in seconds, between points when Enhanced Monitoring metrics are collected for the DB instance.      To disable collecting Enhanced Monitoring metrics, specify 0. The default is 60.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MonitoringRoleArn",
					"description": "The ARN for the IAM role that permits RDS to send enhanced monitoring metrics to CloudWatch Logs. For    example, arn:aws:iam:123456789012:role/emaccess. For information on creating a monitoring role,      go to To         create an IAM role for Amazon RDS Enhanced Monitoring.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MultiAZ",
					"description": "Specifies if the DB instance is a Multi-AZ deployment.             You cannot set the AvailabilityZone parameter if the MultiAZ parameter is set to true.             Do not set this value if you want a Multi-AZ deployment for a SQL Server DB instance.             Multi-AZ for SQL Server is set using the Mirroring option in an option group.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "OptionGroupName",
					"description": "Indicates that the DB instance should be associated with the specified option group.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Port",
					"description": "The port number on which the database accepts connections.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "PreferredBackupWindow",
					"description": "The daily time range during which automated backups are created        if automated backups are enabled,        using the BackupRetentionPeriod parameter. For more information, see            DB                Instance Backups.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "PreferredMaintenanceWindow",
					"description": "The weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC). For more information, see            DB        Instance Maintenance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "PubliclyAccessible",
					"description": "Specifies the accessibility options for the DB instance.             A value of true specifies an Internet-facing instance with a publicly resolvable DNS name,            which resolves to a public IP address.            A value of false specifies an internal instance with a DNS name that resolves to a private IP address.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "StorageEncrypted",
					"description": "Specifies whether the DB instance is encrypted.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "StorageType",
					"description": "Specifies the storage type to be associated with the DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Tags.member.N",
					"description": "A list of tags.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "TdeCredentialArn",
					"description": "The ARN from the Key Store with which to associate the instance for TDE encryption.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "TdeCredentialPassword",
					"description": "The password for the given ARN from the Key Store in order to access the device.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "VpcSecurityGroupIds.member.N",
					"description": "A list of EC2 VPC security groups to associate        with this DB instance.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=CreateDBInstanceReadReplica&k=1": {
			"get": {
				"summary": "Creates a DB instance for a DB instance running MySQL, MariaDB, or PostgreSQL n    that acts as a Read Replica of a source DB instance.",
				"description": "Creates a DB instance for a DB instance running MySQL, MariaDB, or PostgreSQL n    that acts as a Read Replica of a source DB instance.",
				"operationId": "createdbinstancereadreplica",
				"parameters": [{
					"in": "query",
					"name": "AutoMinorVersionUpgrade",
					"description": "Indicates that minor engine upgrades will be applied automatically    to the Read Replica during the maintenance window.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "AvailabilityZone",
					"description": "The Amazon EC2 Availability Zone that the Read Replica will be created in.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "CopyTagsToSnapshot",
					"description": "True to copy all tags from the Read Replica to snapshots of the Read Replica; otherwise false.      The default is false.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBInstanceClass",
					"description": "The compute and memory capacity of the Read Replica.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBInstanceIdentifier",
					"description": "The DB instance identifier of the Read Replica.    This identifier is the unique key that identifies a DB instance.    This parameter is stored as a lowercase string.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBSubnetGroupName",
					"description": "Specifies a DB subnet group for the DB instance. The new DB instance will be created in the VPC associated with the DB subnet group.             If no DB subnet group is specified, then the new DB instance is not created in a VPC.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Iops",
					"description": "The amount of Provisioned IOPS (input/output operations per second) to be initially         allocated for the DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MonitoringInterval",
					"description": "The interval, in seconds, between points when Enhanced Monitoring metrics are collected for the Read Replica.      To disable collecting Enhanced Monitoring metrics, specify 0. The default is 60.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MonitoringRoleArn",
					"description": "The ARN for the IAM role that permits RDS to send enhanced monitoring metrics to CloudWatch Logs. For      example, arn:aws:iam:123456789012:role/emaccess. For information on creating a monitoring role,      go to To         create an IAM role for Amazon RDS Enhanced Monitoring.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "OptionGroupName",
					"description": "The option group the DB instance will be associated with. If omitted, the default option group            for the engine specified will be used.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Port",
					"description": "The port number that the DB instance uses for connections.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "PubliclyAccessible",
					"description": "Specifies the accessibility options for the DB instance.             A value of true specifies an Internet-facing instance with a publicly resolvable DNS name,            which resolves to a public IP address.            A value of false specifies an internal instance with a DNS name that resolves to a private IP address.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "SourceDBInstanceIdentifier",
					"description": "The identifier of the DB instance that will act as the source for the Read Replica.    Each DB instance can have up to five Read Replicas.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "StorageType",
					"description": "Specifies the storage type to be associated with the Read Replica.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Tags.member.N",
					"description": "A list of tags.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=DeleteDBInstance&k=1": {
			"get": {
				"summary": "The DeleteDBInstance action deletes a previously provisioned DB instance.",
				"description": "The DeleteDBInstance action deletes a previously provisioned DB instance.",
				"operationId": "deletedbinstance",
				"parameters": [{
					"in": "query",
					"name": "DBInstanceIdentifier",
					"description": "The DB instance identifier for the DB instance to be deleted.        This parameter isnt case-sensitive.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "FinalDBSnapshotIdentifier",
					"description": "The DBSnapshotIdentifier of the new DBSnapshot created when SkipFinalSnapshot        is set to false.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "SkipFinalSnapshot",
					"description": "Determines whether a final DB snapshot is created before the DB instance is deleted.             If true is specified, no DBSnapshot is created. If false       is specified, a DB snapshot             is created before the DB instance is deleted.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=DescribeDBInstances&k=1": {
			"get": {
				"summary": "Returns information about provisioned RDS instances.",
				"description": "Returns information about provisioned RDS instances.",
				"operationId": "describedbinstances",
				"parameters": [{
					"in": "query",
					"name": "DBInstanceIdentifier",
					"description": "The user-supplied instance identifier.        If this parameter is specified, information from only the        specific DB instance is returned.        This parameter isnt case-sensitive.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Filters.member.N",
					"description": "This parameter is not currently supported.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Marker",
					"description": "An optional pagination token provided by a previous        DescribeDBInstances request.        If this parameter is specified, the response includes        only records beyond the marker,        up to the value specified by MaxRecords.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MaxRecords",
					"description": "The maximum number of records to include in the response.        If more records exist than the specified MaxRecords value,        a pagination token called a marker is included in the response so that the remaining        results can be retrieved.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=DescribeOrderableDBInstanceOptions&k=1": {
			"get": {
				"summary": "Returns a list of orderable DB instance options for the specified engine.",
				"description": "Returns a list of orderable DB instance options for the specified engine.",
				"operationId": "describeorderabledbinstanceoptions",
				"parameters": [{
					"in": "query",
					"name": "DBInstanceClass",
					"description": "The DB instance class filter value. Specify this parameter to show only the available offerings matching the specified DB instance class.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Engine",
					"description": "The name of the engine to retrieve DB instance options for.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "EngineVersion",
					"description": "The engine version filter value. Specify this parameter to show only the available offerings matching the specified engine version.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Filters.member.N",
					"description": "This parameter is not currently supported.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "LicenseModel",
					"description": "The license model filter value. Specify this parameter to show only the available offerings matching the specified license model.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Marker",
					"description": "An optional pagination token provided by a previous            DescribeOrderableDBInstanceOptions request.            If this parameter is specified, the response includes            only records beyond the marker,            up to the value specified by MaxRecords .",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MaxRecords",
					"description": "The maximum number of records to include in the response.            If more records exist than the specified MaxRecords value,            a pagination token called a marker is included in the response so that the remaining            results can be retrieved.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Vpc",
					"description": "The VPC filter value. Specify this parameter to show only the available VPC or non-VPC offerings.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=DescribePendingMaintenanceActions&k=1": {
			"get": {
				"summary": "Returns a list of resources (for example, DB instances) that have n           at least one pending maintenance action.",
				"description": "Returns a list of resources (for example, DB instances) that have n           at least one pending maintenance action.",
				"operationId": "describependingmaintenanceactions",
				"parameters": [{
					"in": "query",
					"name": "Filters.member.N",
					"description": "A filter that specifies one or more resources to return pending maintenance actions for.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Marker",
					"description": "An optional pagination token provided by a previous            DescribePendingMaintenanceActions request.            If this parameter is specified, the response includes            only records beyond the marker,            up to a number of records specified by MaxRecords.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MaxRecords",
					"description": "The maximum number of records to include in the response.            If more records exist than the specified MaxRecords value,            a pagination token called a marker is included in the response so that the remaining            results can be retrieved.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ResourceIdentifier",
					"description": "The ARN of a resource to return pending maintenance actions for.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=DescribeReservedDBInstances&k=1": {
			"get": {
				"summary": "Returns information about reserved DB instances for this account,n    or about a specified reserved DB instance.",
				"description": "Returns information about reserved DB instances for this account,n    or about a specified reserved DB instance.",
				"operationId": "describereserveddbinstances",
				"parameters": [{
					"in": "query",
					"name": "DBInstanceClass",
					"description": "The DB instance class filter value.    Specify this parameter to show only those reservations    matching the specified DB instances class.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Duration",
					"description": "The duration filter value, specified in years or seconds.    Specify this parameter to show only reservations for this duration.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Filters.member.N",
					"description": "This parameter is not currently supported.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Marker",
					"description": "An optional pagination token provided by a previous request.        If this parameter is specified, the response includes        only records beyond the marker,        up to the value specified by MaxRecords.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MaxRecords",
					"description": "The maximum number of records to include in the response.    If more than the MaxRecords value is available, a pagination token called a marker is    included in the response so that the following results can be retrieved.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MultiAZ",
					"description": "The Multi-AZ filter value. Specify this parameter to show only    those reservations matching the specified Multi-AZ parameter.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "OfferingType",
					"description": "The offering type filter value.            Specify this parameter to show only the available            offerings matching the specified offering type.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ProductDescription",
					"description": "The product description filter value.    Specify this parameter to show only those reservations    matching the specified product description.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ReservedDBInstanceId",
					"description": "The reserved DB instance identifier filter value.    Specify this parameter to show only the reservation    that matches the specified reservation ID.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ReservedDBInstancesOfferingId",
					"description": "The offering identifier filter value.    Specify this parameter to show only purchased reservations    matching the specified offering identifier.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=DescribeReservedDBInstancesOfferings&k=1": {
			"get": {
				"summary": "Lists available reserved DB instance offerings.",
				"description": "Lists available reserved DB instance offerings.",
				"operationId": "describereserveddbinstancesofferings",
				"parameters": [{
					"in": "query",
					"name": "DBInstanceClass",
					"description": "The DB instance class filter value.    Specify this parameter to show only the available offerings    matching the specified DB instance class.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Duration",
					"description": "Duration filter value, specified in years or seconds.    Specify this parameter to show only reservations for this duration.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Filters.member.N",
					"description": "This parameter is not currently supported.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Marker",
					"description": "An optional pagination token provided by a previous request.        If this parameter is specified, the response includes        only records beyond the marker,        up to the value specified by MaxRecords.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MaxRecords",
					"description": "The maximum number of records to include in the response.    If more than the MaxRecords value is available, a pagination token called a marker is    included in the response so that the following results can be retrieved.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MultiAZ",
					"description": "The Multi-AZ filter value.    Specify this parameter to show only the available    offerings matching the specified Multi-AZ parameter.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "OfferingType",
					"description": "The offering type filter value.            Specify this parameter to show only the available            offerings matching the specified offering type.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ProductDescription",
					"description": "Product description filter value.    Specify this parameter to show only the available    offerings matching the specified product description.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ReservedDBInstancesOfferingId",
					"description": "The offering identifier filter value.    Specify this parameter to show only the available offering    that matches the specified reservation identifier.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=ModifyDBInstance&k=1": {
			"get": {
				"summary": "Modify settings for a DB instance.",
				"description": "Modify settings for a DB instance.",
				"operationId": "modifydbinstance",
				"parameters": [{
					"in": "query",
					"name": "AllocatedStorage",
					"description": "The new storage capacity of the RDS instance.        Changing this setting does not result in an outage and        the change is applied during the next maintenance window        unless ApplyImmediately is set        to true for this request.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "AllowMajorVersionUpgrade",
					"description": "Indicates that major version upgrades are allowed.     Changing this parameter does not result in an outage and the change is asynchronously applied as soon as possible.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ApplyImmediately",
					"description": "Specifies whether the modifications in this request and        any pending modifications are asynchronously applied        as soon as possible, regardless of the        PreferredMaintenanceWindow setting for the DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "AutoMinorVersionUpgrade",
					"description": "Indicates that minor version upgrades will be applied automatically    to the DB instance during the maintenance window.     Changing this parameter does not result in an outage except in the following case     and the change is asynchronously applied as soon as possible.    An outage will result if this parameter is set to true during the maintenance window,     and a newer minor version is available, and RDS has enabled auto patching for that engine version.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "BackupRetentionPeriod",
					"description": "The number of days to retain automated backups.        Setting this parameter to a positive number enables backups.        Setting this parameter to 0 disables automated backups.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "CACertificateIdentifier",
					"description": "Indicates the certificate that needs to be associated with the instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "CopyTagsToSnapshot",
					"description": "True to copy all tags from the DB instance to snapshots of the DB instance; otherwise false.      The default is false.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBInstanceClass",
					"description": "The new compute and memory capacity of the DB instance. To determine the instance classes that are available for a particular             DB engine, use the DescribeOrderableDBInstanceOptions action.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBInstanceIdentifier",
					"description": "The DB instance identifier.        This value is stored as a lowercase string.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBParameterGroupName",
					"description": "The name of the DB parameter group to apply to the DB instance.             Changing this setting does not result in an outage. The parameter             group name itself is changed immediately, but the actual parameter             changes are not applied until you reboot the instance without             failover. The db instance will NOT be rebooted automatically             and the parameter changes will NOT be applied during the next maintenance window.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBPortNumber",
					"description": "The port number on which the database accepts connections.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBSecurityGroups.member.N",
					"description": "A list of DB security groups to authorize on this DB instance.        Changing this setting does not result in an outage and the change is asynchronously applied as soon as possible.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "EngineVersion",
					"description": "The version number of the database engine to upgrade to.     Changing this parameter results in an outage and the change     is applied during the next maintenance window    unless the ApplyImmediately parameter is set        to true for this request.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Iops",
					"description": "The new Provisioned IOPS (I/O operations per second) value for the RDS instance.             Changing this setting does not result in an outage and            the change is applied during the next maintenance window            unless the ApplyImmediately parameter is set            to true for this request.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MasterUserPassword",
					"description": "The new password for the DB instance master user. Can be any printable ASCII character except /, , or @.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MonitoringInterval",
					"description": "The interval, in seconds, between points when Enhanced Monitoring metrics are collected for the DB instance.      To disable collecting Enhanced Monitoring metrics, specify 0. The default is 60.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MonitoringRoleArn",
					"description": "The ARN for the IAM role that permits RDS to send enhanced monitoring metrics to CloudWatch Logs. For      example, arn:aws:iam:123456789012:role/emaccess. For information on creating a monitoring role,      go to To         create an IAM role for Amazon RDS Enhanced Monitoring.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MultiAZ",
					"description": "Specifies if the DB instance is a Multi-AZ deployment.     Changing this parameter does not result in an outage and the change     is applied during the next maintenance window    unless the ApplyImmediately parameter is set        to true for this request.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "NewDBInstanceIdentifier",
					"description": "The new DB instance identifier for the DB instance when renaming a DB            instance. When you change the DB instance identifier, an instance             reboot will occur immediately if you set Apply Immediately             to true, or will occur during the next maintenance window if             Apply Immediately to false. This value is stored             as a lowercase string.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "OptionGroupName",
					"description": "Indicates that the DB instance should be associated with the specified option group.             Changing this parameter does not result in an outage except in the following case and the change             is applied during the next maintenance window            unless the ApplyImmediately parameter is set            to true for this request. If the parameter change results in an option group that             enables OEM, this change can cause a brief (sub-second) period during which new connections             are rejected but existing connections are not interrupted.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "PreferredBackupWindow",
					"description": "The daily time range during which automated backups are created        if automated backups are enabled,        as determined by the BackupRetentionPeriod parameter.             Changing this parameter does not result in an outage and the change is asynchronously applied as soon as possible.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "PreferredMaintenanceWindow",
					"description": "The weekly time range (in UTC) during which system maintenance can occur,        which might result in an outage. Changing this parameter does not result in an outage, except in the following situation,        and the change is asynchronously applied as soon as possible.        If there are pending actions that cause a reboot, and the maintenance window is changed to include the current time, then changing this        parameter will cause a reboot of the DB instance.        If moving this window to the current time,        there must be at least 30 minutes between the current time and        end of the window to ensure pending changes are applied.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "PubliclyAccessible",
					"description": "True to make the DB instance Internet-facing with a publicly resolvable DNS name,      which resolves to a public IP address. False to make the DB instance internal       with a DNS name that resolves to a private IP address.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "StorageType",
					"description": "Specifies the storage type to be associated with the DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "TdeCredentialArn",
					"description": "The ARN from the Key Store with which to associate the instance for TDE encryption.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "TdeCredentialPassword",
					"description": "The password for the given ARN from the Key Store in order to access the device.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "VpcSecurityGroupIds.member.N",
					"description": "A list of EC2 VPC security groups to authorize on this DB instance.        This change is asynchronously applied as soon as possible.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=PromoteReadReplica&k=1": {
			"get": {
				"summary": "Promotes a Read Replica DB instance to a standalone DB instance.",
				"description": "Promotes a Read Replica DB instance to a standalone DB instance.",
				"operationId": "promotereadreplica",
				"parameters": [{
					"in": "query",
					"name": "BackupRetentionPeriod",
					"description": "The number of days to retain automated backups.        Setting this parameter to a positive number enables backups.        Setting this parameter to 0 disables automated backups.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBInstanceIdentifier",
					"description": "The DB instance identifier.        This value is stored as a lowercase string.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "PreferredBackupWindow",
					"description": "The daily time range during which automated backups are created        if automated backups are enabled,        using the BackupRetentionPeriod parameter.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=PurchaseReservedDBInstancesOffering&k=1": {
			"get": {
				"summary": "Purchases a reserved DB instance offering.",
				"description": "Purchases a reserved DB instance offering.",
				"operationId": "purchasereserveddbinstancesoffering",
				"parameters": [{
					"in": "query",
					"name": "DBInstanceCount",
					"description": "The number of instances to reserve.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ReservedDBInstanceId",
					"description": "Customer-specified identifier to track this reservation.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ReservedDBInstancesOfferingId",
					"description": "The ID of the Reserved DB instance offering to purchase.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Tags.member.N",
					"description": "A list of tags.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=RebootDBInstance&k=1": {
			"get": {
				"summary": "Rebooting a DB instance restarts the database engine service.",
				"description": "Rebooting a DB instance restarts the database engine service.",
				"operationId": "rebootdbinstance",
				"parameters": [{
					"in": "query",
					"name": "DBInstanceIdentifier",
					"description": "The DB instance identifier.        This parameter is stored as a lowercase string.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ForceFailover",
					"description": "When true, the reboot will be conducted through a MultiAZ failover.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=RestoreDBInstanceFromDBSnapshot&k=1": {
			"get": {
				"summary": "Creates a new DB instance from a DB snapshot.",
				"description": "Creates a new DB instance from a DB snapshot.",
				"operationId": "restoredbinstancefromdbsnapshot",
				"parameters": [{
					"in": "query",
					"name": "AutoMinorVersionUpgrade",
					"description": "Indicates that minor version upgrades will be applied    automatically to the DB instance during the maintenance window.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "AvailabilityZone",
					"description": "The EC2 Availability Zone that the database instance will be created in.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "CopyTagsToSnapshot",
					"description": "True to copy all tags from the restored DB instance to snapshots of the DB instance; otherwise false.      The default is false.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBInstanceClass",
					"description": "The compute and memory capacity of the Amazon RDS DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBInstanceIdentifier",
					"description": "Name of the DB instance to create from the DB snapshot.            This parameter isnt case-sensitive.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBName",
					"description": "The database name for the restored DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBSnapshotIdentifier",
					"description": "The identifier for the DB snapshot to restore from.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBSubnetGroupName",
					"description": "The DB subnet group name to use for the new instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Engine",
					"description": "The database engine to use for the new instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Iops",
					"description": "Specifies the amount of provisioned IOPS for the DB instance, expressed in I/O operations per second.        If this parameter is not specified, the IOPS value will be taken from the backup. If this parameter         is set to 0, the new instance will be converted to a non-PIOPS instance, which will take additional         time, though your DB instance will be available for connections before the conversion starts.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "LicenseModel",
					"description": "License model information for the restored DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MultiAZ",
					"description": "Specifies if the DB instance is a Multi-AZ deployment.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "OptionGroupName",
					"description": "The name of the option group to be used for the restored DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Port",
					"description": "The port number on which the database accepts connections.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "PubliclyAccessible",
					"description": "Specifies the accessibility options for the DB instance.             A value of true specifies an Internet-facing instance with a publicly resolvable DNS name,            which resolves to a public IP address.            A value of false specifies an internal instance with a DNS name that resolves to a private IP address.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "StorageType",
					"description": "Specifies the storage type to be associated with the DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Tags.member.N",
					"description": "A list of tags.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "TdeCredentialArn",
					"description": "The ARN from the Key Store with which to associate the instance for TDE encryption.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "TdeCredentialPassword",
					"description": "The password for the given ARN from the Key Store in order to access the device.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?Action=RestoreDBInstanceToPointInTime&k=1": {
			"get": {
				"summary": "Restores a DB instance to an arbitrary point-in-time.",
				"description": "Restores a DB instance to an arbitrary point-in-time.",
				"operationId": "restoredbinstancetopointintime",
				"parameters": [{
					"in": "query",
					"name": "AutoMinorVersionUpgrade",
					"description": "Indicates that minor version upgrades will be applied automatically to the DB instance during the maintenance window.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "AvailabilityZone",
					"description": "The EC2 Availability Zone that the database instance will be created in.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "CopyTagsToSnapshot",
					"description": "True to copy all tags from the restored DB instance to snapshots of the DB instance; otherwise false.      The default is false.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBInstanceClass",
					"description": "The compute and memory capacity of the Amazon RDS DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBName",
					"description": "The database name for the restored DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "DBSubnetGroupName",
					"description": "The DB subnet group name to use for the new instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Engine",
					"description": "The database engine to use for the new instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Iops",
					"description": "The amount of Provisioned IOPS (input/output operations per second) to be initially allocated for the        DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "LicenseModel",
					"description": "License model information for the restored DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "MultiAZ",
					"description": "Specifies if the DB instance is a Multi-AZ deployment.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "OptionGroupName",
					"description": "The name of the option group to be used for the restored DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Port",
					"description": "The port number on which the database accepts connections.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "PubliclyAccessible",
					"description": "Specifies the accessibility options for the DB instance.             A value of true specifies an Internet-facing instance with a publicly resolvable DNS name,            which resolves to a public IP address.            A value of false specifies an internal instance with a DNS name that resolves to a private IP address.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "RestoreTime",
					"description": "The date and time to restore from.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "SourceDBInstanceIdentifier",
					"description": "The identifier of the source DB instance from which to restore.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "StorageType",
					"description": "Specifies the storage type to be associated with the DB instance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Tags.member.N",
					"description": "A list of tags.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "TargetDBInstanceIdentifier",
					"description": "The name of the new database instance to be created.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "TdeCredentialArn",
					"description": "The ARN from the Key Store with which to associate the instance for TDE encryption.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "TdeCredentialPassword",
					"description": "The password for the given ARN from the Key Store in order to access the device.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "UseLatestRestorableTime",
					"description": "Specifies whether (true) or not (false) the        DB instance is restored from the latest backup time.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}