---
layout: page
title: The API Stack
---

{% for api in site.data.apis %}
  {% for include in api.include %}
  {% assign removeurl = 'https://raw.githubusercontent.com/' | append: site.org | append: '/' | append: site.repo | append: '/gh-pages/_data/api-commons/' %}
  {% assign thisurl = include.url | replace: removeurl %}
  {% assign thisurl = thisurl | replace: '/apis.yaml' %}
  {{ include.name }} - {{ thisurl }}
  {% for org in site.data.api-commons %}
    {% assign index = org %}
    {{ thisurl }} == {{ index[0] }}<br />
    {% if thisurl = ndex[0] %}
      {% assign masterapisjson = index.apis %}
      2<br /><hr />


    {% endif %}
  {% endfor %}
  {% endfor %}
{% endfor %}
